@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap");

* {
	position: relative;
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	font-family: "Roboto", sans-serif;
}

#navbar {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 20px;
	font-size: 25px;

	background-color: #f67280;
}

#navbar * {
	color: white;
	text-decoration: none;
}

#welcome-section {
	height: 400px;
	background-color: #f8b195;
}

#welcome-section > .middle-wrapper {
	font-size: 2rem;
	line-height: 2.3;
}

#welcome-section > .middle-wrapper > * {
	font-family: "PT Sans", sans-serif;
}

.middle-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#projects {
	padding: 30px 50px;
	background-color: #6c5b7b;
	text-align: center;
}

.project-wrapper {
}

button {
	background-color: #c06c84;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
}

button:focus {
	outline: none;
}

footer {
	background-color: #355c7d;
}
